circle {
    fill: steelBlue;
}

text{
    font-family: sans-serif
}

.tick text{
    font-size: 2em;
    fill: black
}

.tick line{
    stroke: black
}

.x-axis-label{
    font-size: 3em;
    fill: black
}

.title{
    font-size: 2em;
    fill: black 
}
.line-path{
    // fill: blue;
    stroke: none;
    stroke-width: 5;
    stroke-linejoin: round;
    opacity: .5;
}