circle {
    fill: steelBlue;
}

text{
    font-family: sans-serif
}

.tick text{
    font-size: 2em;
    fill: white
}

.tick line{
    stroke: #C0C0BB
}

.x-axis-label{
    font-size: 3em;
    fill: white
}

.title{
    font-size: 2em;
    fill: white  
}
.line-path{
    fill: blue;
    stroke: orange;
    stroke-width: 5;
    stroke-linejoin: round;
}